.cabecalho{
    background-color: #00343A;
    padding: 24px 16px;
    display: flex;
    height: 80px;
    align-items: center;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.4);

}

.banner_git{
    height: 100%;
}


.cabecalho h1{
    font-size: 40px;
    color: white;
}



body{
    background-color: #2C343A;
}
.secao_projetos{
    padding: 24px 16px;
    display: flex;
    gap: 32px;
    justify-content: center;
}

.secao_projetos button{
    background-color: #00343A;
    width: 300px;
    height: 450px;
    border-radius:40px;
    color: white;
    font-weight: bold;
    transition: .6s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.secao_projetos button:hover{
    width: 350px;
    height: 500px;
    background-color: white;
    color: black;

}

.secao_projetos button:hover .banner_linguagem{
    width:70%;

}

.banner_linguagem{
    width:60%;
    transition: .6s;
    
}



.secao_projetos h2,p{
    text-align: center;
    font-size: 1.5rem;
    

}

.numero_de_projetos::before{
    content: "✭";
    padding: 10px;
}